<main class="flex-grow flex flex-col w-full py-5 sm:py-16  md:mt-14 items-center justify-center">

 
    <div class="w-[85%] md:w-full max-w-md bg-white p-14 rounded-3xl bg-opacity-90 px-4 ">
      <h2 class="text-center text-red-600 text-5xl sm:text-4xl font-semibold mb-6 tracking-widest leading-7">LOGIN</h2>
      <form class="space-y-4 px-7 " (ngSubmit)="login()">
        <div class="flex my-2 items-center  bg-gray-100 rounded-l-lg rounded-r-full border border-gray-300 px-2">
          <label for="username" class="whitespace-nowrap text-sm text-gray-600 mr-2">Username</label>
          <input
            id="username"
            type="text"
            class="w-full  px-3 py-2 bg-transparent border rounded-md border-l-gray-300 bg-white focus:outline-none text-sm"
            placeholder="Enter your username"
            name="username"
            required
          />
        </div>
  
        <div class="flex items-center my-2 bg-gray-100 rounded-l-lg rounded-r-full border border-gray-300 px-2">
          <label for="password" class="whitespace-nowrap text-sm text-gray-600 mr-2">Password</label>
          <input
            id="password"
            type="password"
            class="w-full  px-3 py-2 bg-transparent border rounded-md border-l-gray-300 bg-white focus:outline-none text-sm"
            placeholder="Enter your password"
            name="password"
            required
          />
        </div>
  
        <button type="submit" class="w-full mt-3 bg-red-600 rounded-lg text-white py-2  hover:bg-red-700 transition duration-200" (click)="login()">
          Login
        </button>
      </form>
  
      <div class="text-right mt-2">
        <a href="#" class="text-sm text-red-600 hover:underline">Forgot password? Click here.</a>
      </div>
  
      <p class="text-xs text-center text-gray-700 mt-6">
        <strong>WARNING:</strong> Unauthorized access or misuse of any data may result in disciplinary, civil
        penalties, and/or criminal prosecution.
      </p>
    </div>




  
  </main>
  