<main class="flex-grow flex flex-col   ">
    <div class="container mx-auto">
        <div class="p-6 max-w-[80%] mx-auto">

            <div class="flex justify-between items-center mb-4">
                <h1 class="text-2xl font-semibold">Payment Method</h1>

            </div>

            <div class="flex md:flex-row flex-col justify-between">
                <div class="flex items-start gap-2">
                    <div class="flex md:flex-row flex-col justify-between py-5 md:py-3">

                        <i class="fas fa-building text-gray-500 mt-1 mx-2"></i>
                        <div>

                            <p class="font-bold ">XYZ Transport LLC</p>
                            <div class="flex flex-wrap items-center gap-2 text-sm text-gray-600 mt-1">
                                <i class="fas fa-user"></i> Sarah Johnson
                                <i class="fas fa-phone ml-4"></i> (555) 987-6543
                                <i class="fas fa-stamp ml-4"></i> <span class="font-semibold">USDOT:</span> 87654321
                            </div>

                        </div>
                    </div>
                </div>


            </div>



            <h1 class="text-xl font-semibold">Check</h1>
            <div class="space-y-4 py-5 z-50">
                <div
                    class="border border-gray-300 bg-white transition-all duration-300 ease-in-out rounded-xl p-4 flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4">


                    <div class="flex items-start gap-2 flex-1">
                        <i class="fas fa-bank text-gray-500 mt-1"></i>
                        <div>
                            <p class="font-bold text-red-600">xxxxxxxxxx5655 <i
                                    class="fas fa-edit text-red-600 mx-2  cursor-pointer"></i></p>
                            <div class="flex flex-wrap items-center gap-2 text-sm text-gray-600 mt-1">
                                <span class="font-semibold  ml-6"> Vixxx Dhixxxxx</span>

                                <span class="font-semibold ml-4">Routing:</span> 787987997


                            </div>
                        </div>
                    </div>


                    <div class="self-start sm:self-center">
                        <i class="fas fa-trash text-red-600 cursor-pointer"></i>
                    </div>
                </div>


                <button class="p-3 text-red-500 rounded-md mb-6 hover:text-red-800 transition duration-100"
                    (click)="Dialog()">
                    + Link New cheque
                </button>

                <div *ngIf="cheque"
                    class="fixed inset-0 flex items-center    justify-center bg-black bg-opacity-50 z-50">
                    <div class="bg-white w-[100%] max-w-xl p-6 rounded-3xl transition-all duration-200 shadow-lg">
                        <h2 class="text-xl font-semibold mb-2 text-center">Selected Mode: Manual</h2>


                        <p class="text-center text-sm text-gray-600 mb-4">
                            Scan Cheque and we will auto pull your information.<br />
                            <a href="#" class="text-blue-600 font-medium hover:underline">Switch to Manual</a>
                        </p>
                        <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
                            <div class="mx-auto max-w-5xl">


                                <div class="mt-6 sm:mt-8 lg:flex lg:items-start lg:gap-12">
                                    <form [formGroup]="bankForm" (ngSubmit)="onSubmit()"
                                        class="w-full rounded-lg border mb-4 border-gray-200 bg-white shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6 lg:max-w-xl lg:p-1">

                                        <div class="w-full max-w-xl p-6  grid grid-cols-2 gap-4 rounded-xl">

                                            <div class="col-span-2 sm:col-span-1">
                                                <label class="block text-sm font-medium text-gray-700 mb-1">Account
                                                    Holder Name*</label>
                                                <input formControlName="accountHolderName" type="text"
                                                    placeholder="Enter name"
                                                    class="w-full rounded-md border border-gray-300 px-3 py-2 text-sm text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-500" />
                                          
                                                    <div *ngIf="bankForm.get('accountHolderName')?.invalid && bankForm.get('accountHolderName')?.touched"
                                                    class="text-red-500 text-sm text-center">
                                                    Account holder name is required is required
                                                </div>
                                                </div>

                                            <div class="col-span-2 sm:col-span-1">
                                                <label
                                                    class="block text-sm font-medium text-gray-700 mb-1">Zipcode</label>
                                                <input formControlName="zipcode" type="text" placeholder="Enter zipcode"
                                                    class="w-full rounded-md border border-gray-300 px-3 py-2 text-sm text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-500" />
                                                    <div *ngIf="bankForm.get('zipcode')?.invalid && bankForm.get('zipcode')?.touched"
                                                    class="text-red-500 text-sm text-center">
                                                    zipcode is required
                                                </div>
                                                </div>

                                            <div class="col-span-2 sm:col-span-1">
                                                <label class="block text-sm font-medium text-gray-700 mb-1">Bank
                                                    Name*</label>
                                                <input formControlName="bankName" type="text" placeholder="Bank name"
                                                    class="w-full rounded-md border border-gray-300 px-3 py-2 text-sm text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-500" />
                                                    <div *ngIf="bankForm.get('bankName')?.invalid && bankForm.get('bankName')?.touched"
                                                    class="text-red-500 text-sm text-center">
                                                    Bank name is required
                                                </div>
                                              </div>

                                            <div class="col-span-2 sm:col-span-1">
                                                <label class="block text-sm font-medium text-gray-700 mb-1">Routing
                                                    no*</label>
                                                <input formControlName="routingNo" type="text"
                                                    placeholder="Routing number"
                                                    class="w-full rounded-md border border-gray-300 px-3 py-2 text-sm text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-500" />
                                                    <div *ngIf="bankForm.get('routingNo')?.invalid && bankForm.get('routingNo')?.touched"
                                                    class="text-red-500 text-sm text-center">
                                                    Routing no is required
                                                </div>
                                            </div>

                                            <div class="col-span-2">
                                                <label class="block text-sm font-medium text-gray-700 mb-1">Account
                                                    No*</label>
                                                <input formControlName="accountNo" type="text"
                                                    placeholder="Account number"
                                                    class="w-full rounded-md border border-gray-300 px-3 py-2 text-sm text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-500" />
                                                    <div *ngIf="bankForm.get('accountNo')?.invalid && bankForm.get('accountNo')?.touched"
                                                    class="text-red-500 text-sm text-center">
                                                    Account no is required
                                                </div>
                                                </div>
                                        </div>

                                        <div class="flex justify-end space-x-2 pt-4">
                                            <button type="button"
                                                class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400"
                                                (click)="closeDialog()">Cancel</button>
                                            <button type="submit"
                                                class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600">Save</button>
                                        </div>
                                    </form>






                                </div>


                            </div>
                        </div>








                    </div>
                </div>
            </div>
            <h1 class="text-xl font-semibold">Card</h1>
            <div class="space-y-4 py-5 z-50">
                <div
                    class="border border-gray-300 bg-white transition-all duration-300 ease-in-out rounded-xl p-4 flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4">


                    <div class="flex items-start gap-2 flex-1">
                        <i class="fas fa-bank text-gray-500 mt-1"></i>
                        <div>
                            <p class="font-bold text-red-600">xxxx-xxxx-xxxx-4111 <i
                                    class="fas fa-edit text-red-600 mx-2 cursor-pointer"></i></p>
                            <div class="flex flex-wrap items-center  py-3 gap-1 text-sm text-gray-600 mt-1">
                                <span class="font-semibold  ml-3"> Vixxx Dhixxxxx</span>

                                <span class="font-semibold  ml-6">CVV:</span> xxx

                                <span class="font-semibold ml-6">Expiry:</span> 12/26

                                <span class="font-semibold ml-6">Zip Code:</span> 12345
                            </div>
                        </div>
                    </div>


                    <div class="self-start sm:self-center">
                        <i class="fas fa-trash text-red-600 cursor-pointer"></i>
                    </div>
                </div>


                <button class="p-3 text-red-500 rounded-md mb-6 hover:text-red-800 transition duration-100"
                    (click)="openDialog()">
                    + Link New Card
                </button>
                <div *ngIf="showModal"
                    class="fixed inset-0 flex items-center    justify-center bg-black bg-opacity-50 z-50">
                    <div class="bg-white w-[100%] max-w-xl p-6 rounded-3xl transition-all duration-200 shadow-lg">
                        <h2 class="text-xl text-center font-semibold mb-4">Card Details</h2>
                        <a href="#" class="text-blue-600 font-medium hover:underline">Choose Card </a>


                        <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
                            <div class="mx-auto max-w-5xl">


                                <div class="mt-6 sm:mt-8 lg:flex lg:items-start lg:gap-12">
                                    <form [formGroup]="cardForm" (ngSubmit)="onSubmits()"
                                        class="w-full rounded-lg border mb-4 border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6 lg:max-w-xl lg:p-8">

                                        <div class="mb-6 grid grid-cols-2 gap-4">

                                            <div class="col-span-2 sm:col-span-1">
                                                <label
                                                    class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Full
                                                    name (as displayed on card)*</label>
                                                <input formControlName="fullName" type="text" placeholder="Enter Name"
                                                    class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white" />
                                                <div *ngIf="cardForm.get('fullName')?.invalid && cardForm.get('fullName')?.touched"
                                                    class="text-red-500 text-sm">
                                                    Full name is required
                                                </div>


                                            </div>

                                            <div class="col-span-2 sm:col-span-1">
                                                <label
                                                    class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Card
                                                    number*</label>
                                                <input formControlName="cardNumber" type="text"
                                                    placeholder="xxxx-xxxx-xxxx-xxxx"
                                                    class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white" />
                                                <div *ngIf="cardForm.get('cardNumber')?.invalid && cardForm.get('cardNumber')?.touched"
                                                    class="text-red-500 text-sm">
                                                    Card number is required
                                                </div>
                                            </div>

                                            <div>
                                                <label
                                                    class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Card
                                                    expiration*</label>
                                                <input formControlName="expiry" type="text" maxlength="5"
                                                    placeholder="MM/YY"
                                                    class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white" />
                                                <div *ngIf="cardForm.get('expiry')?.invalid && cardForm.get('expiry')?.touched"
                                                    class="text-red-500 text-sm">
                                                    Expiry month/year is required
                                                </div>
                                            </div>

                                            <div>
                                                <label
                                                    class="mb-2 text-sm font-medium text-gray-900 dark:text-white flex items-center gap-1">
                                                    CVV*
                                                    <svg class="h-4 w-4 text-gray-400 hover:text-gray-900 dark:text-gray-500 dark:hover:text-white"
                                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                        viewBox="0 0 24 24">
                                                        <path fill-rule="evenodd"
                                                            d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm9.408-5.5a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2h-.01ZM10 10a1 1 0 1 0 0 2h1v3h-1a1 1 0 1 0 0 2h4a1 1 0 1 0 0-2h-1v-4a1 1 0 0 0-1-1h-2Z"
                                                            clip-rule="evenodd" />
                                                    </svg>
                                                </label>
                                                <input formControlName="cvv" type="text" maxlength="3" placeholder="•••"
                                                    class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white" />
                                                <div *ngIf="cardForm.get('cvv')?.invalid && cardForm.get('cvv')?.touched"
                                                    class="text-red-500 text-sm">
                                                    Cvv is required
                                                </div>
                                            </div>

                                            <div>
                                                <label
                                                    class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Zip
                                                    Code</label>
                                                <input formControlName="zipCode" type="text" maxlength="10"
                                                    placeholder="••••••"
                                                    class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white" />
                                                <div *ngIf="cardForm.get('zipCode')?.invalid && cardForm.get('zipCode')?.touched"
                                                    class="text-red-500 text-sm">
                                                    Zip code is required
                                                </div>
                                            </div>
                                        </div>

                                        <div class="flex justify-end space-x-2">
                                            <button type="button"
                                                class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400"
                                                (click)="closeDialog()">Cancel</button>
                                            <button type="submit"
                                                class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600">Save</button>
                                        </div>
                                    </form>






                                </div>


                            </div>
                        </div>








                    </div>
                </div>
            </div>

        </div>

    </div>




</main>